* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppinslight", sans-serif; /* Fonte */ 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    width: 300px;
    background-color: #1a3b88; /* Cor de fundo azul */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.login-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #00ff00;
    font-weight: bold;
    cursor: pointer;
}

.tab-button.active {
    border-bottom: 2px solid #00ff00;
}

h2 {
    margin-bottom: 20px;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #00ff00;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00ff00;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.register-text {
    margin-top: 15px;
    font-size: 12px;
}

.register-text a {
    color: #00ff00;
    text-decoration: none;
    font-weight: bold;
}

