* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Corpo da página */
body {
    display: flex;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
}

/* Sidebar fixa */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background-color: #f4f6f9;
    border-radius: 0 20px 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 250px;
}

/* Informações do usuário */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-info h3 {
    font-size: 16px;
    color: #333;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .user-info h3 {
    opacity: 1;
}

/* Linha separadora */
hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* Navegação */
.nav-list {
    list-style: none;
    width: 100%;
}

.nav-list li {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.nav-list li:hover {
    background-color: #6FB645;
}

.nav-list i {
    font-size: 24px;
    margin-right: 10px;
    color: #003376;
}

.nav-list span {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 16px;
}

.sidebar:hover .nav-list span {
    opacity: 1;
}

/* Botão de logout */
.logout-btn {
    margin-top: auto;
    padding: 10px 15px;
    background-color: #6FB645;
    color: #fff;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.logout-btn:hover {
    background-color: #e04e4e;
}

.logout-btn i {
    font-size: 20px;
    margin-right: 10px;
}

.logout-btn span {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

.sidebar:hover .logout-btn span {
    opacity: 1;
}

/* Estilo da seção de configurações */
.settings-section {
    margin-left: 80px; /* Compensando a largura da sidebar */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: calc(100% - 100px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    max-height: auto;
    overflow: auto;
}

/* Título da seção */
.settings-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #003376;
}

/* Estilo para os formulários */
.form-container {
    background-color: #f4f6f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.form-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.form-group input[type="file"] {
    padding: 5px;
}

button {
    background-color: #6FB645;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #557a31;
}
